.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tit {
  display: flex;
  margin: 2% 0;
}

.datatime {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.init {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tema {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.aluno {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.resp {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mes {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input {
  width: 20vw;
}

.input2 {
  width: 18.5vw;
}

.input3 {
  width: 49.5vw;
}

.input4 {
  width: 20.37vw;
}

.input5 {
  width: 23vw;
}

.input6 {
  width: 26vw;
}
.input7,
.imput8,
.input9 {
  width: 20vw;
}

.divBut {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5% 0 0;
}

.botaovoltar {
  background-color: #ff1100;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  font-size: large;
  height: 5vh;
}

.botaovoltar:hover {
  background-color: #bc1016;
}

@media only screen and (max-width: 800px) {
  .tit {
    margin-left: 30%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .datatime,
  .init,
  .tema,
  .aluno,
  .resp,
  .mes {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .um,
  .dois,
  .tres,
  .quat,
  .cinc,
  .seis {
    margin-bottom: 5%;
  }
  .input4 {
    width: 39.3vw;
  }

  .botao {
    display: flex;
    flex-direction: column;
  }
  .responsi {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .botaovoltar {
    margin: 1%;
    width: 100%;
    font-size: small;
  }
  .input {
    width: 34.6vw;
  }

  .input2 {
    width: 32vw;
  }

  .input7 {
    width: 33vw;
  }
  .input8 {
    width: 37.8vw;
  }

  .input9 {
    width: 31.5vw;
  }

  .input10 {
    width: 49.6vw;
  }
  .input11 {
    width: 50vw;
  }

  .input5 {
    width: 24.7vw;
  }
}
