.tudo {
  align-items: center;

}

.h4 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 190%;
  margin-right: 82%;
}

.icon {
  font-size: 130%;
  margin-right: 5%;

}

.bt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-right: 2%;
  margin-left: 0%;


}


.b1 {
  margin: 2%;
  background-color: #ff1100;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  font-size: large;
  width: 110%;
  align-items: center;



}

.b1:hover {
  background-color: #BC1016;
}



.titulo {
  padding: 1%;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 150%;
}


.titulo2 {
  padding: 1%;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 150%;
}

.boxTodasOcor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}


.a {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
}

.boxOcor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.426);
  border-radius: 20px;
  padding: 27px;
  margin: 1% 0;
  width: 30%;
  transition-duration: 0.4s;
}

.boxOcor:hover {
  background-color: rgba(255, 0, 0, 0.636);
}

.boxOcor2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(251, 255, 0);
  background-color: rgba(251, 255, 0, 0.214);
  border-radius: 20px;
  padding: 27px;
  margin: 1% 0;
  width: 30%;
  transition-duration: 0.4s;
}

.boxOcor2:hover {
  background-color: rgba(251, 255, 0, 0.581);
}

.boxOcor3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(104, 240, 45);
  background-color: rgba(103, 240, 45, 0.282);
  border-radius: 20px;
  padding: 27px;
  margin: 1% 0;
  width: 30%;
  transition-duration: 0.4s;
}

.boxOcor3:hover {
  background-color: rgba(103, 240, 45, 0.63);
}

.titletematurma {
  font-weight: bold;
  width: 100%;
  margin-right: 10%;
}

.datastatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}


.urgencia1 {
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 15%;
  border-radius: 10px;
  font-size: 90%;
}

.urgencia2 {
  border: 2px solid yellow;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.urgencia3 {
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.p1 {
  font-size: 0.9rem;
}


.urgencia2 {
  border: 2px solid rgb(251, 255, 0);
  padding: 5px;
  margin-bottom: 5%;
  border-radius: 10px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.urgencia3 {
  border: 2px solid rgb(104, 240, 45);
  padding: 5px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.icons {
  font-size: xx-large;
  font-weight: bolder;
}

.pesquisa {
  border: 2px solid #000;
  border-radius: 20px;
  width: 40%;
  margin: 1%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pesquisa>input {
  border: 2px solid #000;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 14px;
}

.pesquisa>button {
  position: absolute;
  height: fit-content;
  border: none;
  background-color: transparent;
  right: 6px;
  font-size: larger;
}

.pesquisafiltro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filtro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.butfiltro {
  padding: 10px;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 3%;
  width: 18vh;
  background-color: #fff;
  transition-duration: 0.4s;
}

.butfiltro:hover {
  background-color: #e0e0e0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width:800px) {
  .main {
    margin: 1%;
  }

  .b1 {
    font-size: 1rem;
    padding: 5px;
    width: 100%;

  }

  .h4 {
    font-size: 1.6rem;
    margin-left: 3%;

  }

  .boxTodasOcor {
    flex-direction: column;
  }

  .boxOcor {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .boxOcor2 {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .boxOcor3 {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .urgencia1 {
    font-size: 0.7rem;
  }

  .urgencia2 {
    font-size: 0.7rem;
  }

  .urgencia3 {
    font-size: 0.7rem;
  }

  .titulo {
    text-align: center;
    font-size: 1rem;
    margin-right: 55%;
  }

  .pesquisafiltro {
    flex-direction: column;
  }

  .pesquisa {
    width: 100%;
  }

  .butfiltro {
    padding: 5px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 3%;
    width: 7.3vh;
    font-size: 0.6rem;
  }

}