.tudo{
  margin-left: 10%;
  align-items: center;
}

  .h4{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 190%;
    margin-right: 84%;
  }

  .bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .b1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff1100;
    border: 5px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size:20px;
    cursor: pointer;
    margin-left: 5%;
    width: 11%;
    
  }
 

  .b2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff1100;
    border: 5px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
   align-items: center;
    font-size:24px;
    
  }
 
  .b3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff1100;
    border: 5px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size:20px;
    cursor: pointer;
    margin-right: 5%;
    width: 9%;
  }

  .titulo{
    padding: 2%;
    font-size: 150%;
}


.boxTodasOcor{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.a{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
}

.boxOcor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.426);
  border-radius: 20px;
  margin: 2%;
  width: 40%;
}

.boxOcor2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(251, 255, 0);
  background-color: rgba(251, 255, 0, 0.214);
  border-radius: 20px;
  margin: 2%;
  padding: 27px;
  width: 40%;
}

.boxOcor3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(104, 240, 45);
  background-color: rgba(103, 240, 45, 0.282);
  border-radius: 20px;
  margin: 2%;
  padding: 27px;
  width: 40%;

}

.titletematurma{
  font-weight: bold;  
  margin-right: 1rem
}

.datastatus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}


.urgencia1{
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.urgencia2{
  border: 2px solid rgb(251, 255, 0);
  padding: 5px;
  margin-bottom: 5%;
  border-radius: 10px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.urgencia3{
  border: 2px solid rgb(104, 240, 45);
  padding: 5px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.icons{
  font-size: xx-large;
  font-weight: bolder;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}