.main {
    background-image: url("../public/BackgroundImage.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid lightgray;
    border-radius: 50px;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 0%;
    width: 25%;
    height: 60vh;
}

.divPesquisa {
    width: 60%;
}

.pesquisa {
    border: 2px solid lightgrey;
    border-radius: 20px;
    width: 10   0%;
    height: 8vh;
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pesquisa>input {
    border: 2px solid lightgrey ;
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 100%;
    padding: 10px 2px;
}

.pesquisa>input:focus {
    outline: none;
}

.pesquisa>svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: none;
    background-color: transparent;
    margin: 0 5px 0 7px;
    font-size: larger;
}

.titulobox {
    display: flex;
    flex-direction: row;
}

.texto1 {
    font-weight: bold;
    margin-right: 5px;
}

.texto2 {
    color: #ff1100;
}

.botao {
    margin: 2%;
    background-color: #ff1100;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    font-size: large;
}

.botao:hover {
    background-color: #BC1016;
}

@media only screen and (max-width:800px) {
    .main {
        background-image: url("../public/planodefundo-redwhite.jpg");
    }

    .box {
        margin-left: 10%;
        margin-right: 10%;
        width: 70%;
        height: 55vh;
        background-color: white;
    }

    .divPesquisa {
        width: 80%;
    }
    
}