
  .h1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    margin-left: 8%;
   
   
  }

  .bt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
  }

  /* .b1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: #ff1100;
    border: 5px;
    border-radius: 15px;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 12%;
    margin-right: 8%;
    align-items: center;
    text-align: center;
  } */

  .b1 {
    margin: 2%;
    background-color: #ff1100;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    font-size: large;
    width: 70%;
    margin-right: 8%;
    align-items: center;
    text-align: center;
  }

  .b1:hover{
    background-color:#BC1016;
  }


  .b2 {
    margin: 2%;
    background-color: #ff1100;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    transition-duration: 0.4s;
    font-size: large;
    margin-left: 510%;
    

  }

  .b2:hover{
    background-color:#BC1016;
  }
 

  /* .b2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff1100;
    font-size:15px;
    border: 5px;
    border-radius: 15px;
    justify-content: space-between;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-left: 70%;
  } */

 
  .caixas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-left: 15%;
  }
 
 .caixa1{
  display: flex;
  flex-direction: row;
  border: 5px solid #ff1100;
  border-radius: 15px;
  padding:10px;
  margin: 3%;
  width: 100%;
  margin-right: 20%;

 }




 .p{
  display: flex;
  justify-content:space-between;
  color: black;
  font-size: 110%;
 
 }

 .p1{
  display: flex;
  justify-content:space-between;
  color: black;
  font-size: 1rem;
 
 }



 .footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140%;
  margin-right: 15%;
}

@media only screen and (max-width:800px) {
  .main{
      margin: 1%;
  }

  .h1{
  font-size: 1.6rem;
  }

  .b1{
    font-size: 1rem;
    padding: 5px;
    width: 25%;

  }

  .h4{
    font-size: 1.6rem;
    margin-left: 3%;
    
  }

  .b2{
    margin-left: 15%;
    width: 35%;
    font-size: 1rem;
  }


}