.tudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  margin: 2%;
}

.data {
  font-size: 150%;
}

.b1 {
  margin: 2%;
  background-color: #ff1100;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  font-size: large;
  width: 35vh;
  justify-content: space-evenly;
  display: flex;
}

.b2 {
  background-color: #ff1100;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 15px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  font-size: large;
  width: 28vh;
}

.b1:hover {
  background-color: #bc1016;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}

.botoes2 {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}

.titulo {
  padding: 1%;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 150%;
}

.titulo2 {
  padding: 1%;
  margin-top: 2%;
  margin-right: 2%;
  font-size: 150%;
}

.urgencia1 {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  margin-left: 25%;
  margin-right: 20%;
}

.main {
  width: 100%;
}

.tit {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 38%;
  margin-right: 20%;
}

.datatime {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.init {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tema {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.aluno {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.resp {
  margin-bottom: 2%;
  display: flex;
  width: 110%;
  justify-content: space-between;
}

.mes {
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.input {
  width: 20vw;
}

.input2 {
  width: 18.5vw;
}

.input3 {
  width: 50vw;
}

.input4 {
  width: 20.37vw;
}

.input5 {
  width: 22vw;
}

.input6 {
  width: 26vw;
}

.input7,
.imput8,
.input9 {
  width: 20vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}

.modal ::-webkit-scrollbar {
  display: none;
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 30%;
  height: 80%;
  overflow: auto;
}

.titulo {
  font-weight: bold;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 2;
}

.notificacao {
  padding: 20px 0;
  border-bottom: 1px solid #000
}

.notificacao:last-child {
  border-bottom: none;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.headBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.confirmar{
  margin-top: 40%;
  margin-left: 80%;
  background-color: red;
  color: #fefefe;
  border: 0px solid;
  border-radius: 5px;
  width: 20%;
  height: 5%
}

.email{
  margin-top: 15%;
}

@media only screen and (max-width: 800px) {
  .main {
    margin: 1%;
  }

  .b1 {
    font-size: 1rem;
    padding: 5px;
    width: 100%;
  }

  .h4 {
    font-size: 1.6rem;
    margin-left: 3%;
  }

  .boxTodasOcor {
    flex-direction: column;
  }

  .boxOcor {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .boxOcor2 {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .boxOcor3 {
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }

  .urgencia1 {
    font-size: 0.7rem;
  }

  .urgencia2 {
    font-size: 0.7rem;
  }

  .urgencia3 {
    font-size: 0.7rem;
  }

  .titulo {
    text-align: center;
    font-size: 1rem;
    margin-right: 55%;
  }

  .pesquisafiltro {
    flex-direction: column;
  }

  .pesquisa {
    width: 100%;
  }

  .butfiltro {
    padding: 5px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 3%;
    width: 7.3vh;
    font-size: 0.6rem;
  }

  .tit {
    margin-left: 30%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .datatime,
  .init,
  .tema,
  .aluno,
  .resp,
  .mes {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .um,
  .dois,
  .tres,
  .quat,
  .cinc,
  .seis {
    margin-bottom: 5%;
  }

  .input4 {
    width: 39.3vw;
  }

  .responsi {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .input {
    width: 34.6vw;
  }

  .input2 {
    width: 32vw;
  }

  .input7 {
    width: 33vw;
  }

  .input8 {
    width: 37.8vw;
  }

  .input9 {
    width: 31.5vw;
  }

  .input10 {
    width: 49.6vw;
  }

  .input11 {
    width: 50vw;
  }

  .input5 {
    width: 24.7vw;
  }

  .modalContent {
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 0;
}


.modal {
    padding-top: 45px;
}

.close {
    font-size: 24px;
}
}


