.tudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    margin: 2%;

 
  }
  
  .data{
    font-size: 150%;
  }
  
  
    
   .b1{
      margin: 2%;
      background-color: #ff1100;
      padding: 10px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 15px;
      border: none;
      color: white;
      transition-duration: 0.4s;
      font-size: large;
      width: 40%;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin-left: 7%;
      
    }
  
    .b1:hover{
      background-color:#BC1016;
    }
    
   
  
  .titulo{
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 150%;
  }
  
  
  .titulo2{
    padding: 1%;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 150%;
  }
  
  .urgencia1{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;

}


  
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media only screen and (max-width:800px) {
    .main{
        margin: 1%;
    }
  
    .b1{
      font-size: 1rem;
      padding: 5px;
      width: 100%;
  
    }
  
    .h4{
      font-size: 1.6rem;
      margin-left: 3%;
      
    }
  
    .boxTodasOcor{
        flex-direction: column;
    }
  
    .boxOcor{
        width: 98%;
        margin: 1%;
        margin-bottom: 2%;
    }
  
    .boxOcor2{
        width: 98%;
        margin: 1%;
        margin-bottom: 2%;
    }
  
    .boxOcor3{
        width: 98%;
        margin: 1%;
        margin-bottom: 2%;
    }
  
    .urgencia1{
        font-size: 0.7rem;
    }
  
    .urgencia2{
        font-size: 0.7rem;
    }
  
    .urgencia3{
        font-size: 0.7rem;
    }
  
    .titulo{
        text-align: center;
        font-size: 1rem;
        margin-right: 55%;
    }
  
    .pesquisafiltro{
        flex-direction: column;
    }
  
    .pesquisa {
        width: 100%;
    }
  
    .butfiltro{
        padding: 5px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 3%;
        width: 7.3vh;
        font-size: 0.6rem;
    }
  
  }